*
{
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

body 
{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1C1C1E;
    color: #fff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.container
{
    width: 70%;
    margin: auto;
}

header 
{
    display: flex;
    background: linear-gradient(90deg, #BCD1BB 17%, #759A77 94.5%);
}

main
{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img 
{
    height: 8vh;
}

nav ul 
{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4vh;
}

nav ul li 
{
    margin: 0;
}

nav ul li a 
{
    color: #000;
    font-weight: 600;
    text-shadow: 3px 3px 1vh rgb(58 58 58 / 70%);

    transition: color 0.5s, text-shadow 0.5s;
}

nav ul li a:hover
{
    text-shadow: none;
}

.contact-info 
{
    display: flex;
    text-align: right;
    font-size: 1em;
    flex-direction: row;
    gap: 1vh;
    align-items: flex-start;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.hero 
{
    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #1C1C1E 100%),
        url('../images/bg.png');
    background-size: cover;
    padding: 10vh;
    text-align: center;
}

.hero h1 
{
    font-size: 3em;
    margin: 0 0 20px;
}

.left-side h1:after 
{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 3vh;
}

.hero p 
{
    font-size: 1.2em;
    max-width: 600px;
    color: #b4b4b4;
}

main a
{
    color: #b4b4b4;
    background-color: #eeeeee0a;
    border-radius: 1vh;
    padding: 1vh 2vh;
    margin-top: 2vh;

    transition: background-color 0.5s, color 0.5s;
}

main a:hover
{
    color: #eeeeee;
    background-color: #eeeeee33;
    
    transition: background-color 0.5s, color 0.5s;
}

.partnership 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 4vh;
}

.partnership img 
{
    max-width: 50%;
    border-radius: 10px;
}

.partnership .text 
{
    font-size: 1.2em;
    text-align: justify;
    max-width: 75%;
    line-height: 1.4em;
}

footer 
{
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

footer a 
{
    color: #fff;
    text-decoration: none;
}

.right-side
{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    text-align: right !important;
}


.left-side
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    text-align: left !important;
}

.contacts
{
    background-size: cover;
    padding-top: 8vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contacts h1
{
    margin-bottom: 2em;
}

.contacts p
{
    font-size: 1.2em;
    line-height: 1.6em;
}

.contacts .bg
{
    margin-top: 6vh;
    flex: 1;
    background: linear-gradient(to top, rgb(89 89 89 / 0%) 0, #1C1C1E 100%), url(../images/bg.png);
    background-size: cover;
    width: 100%;
}

.products
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4em;
}

.products img
{
    width: 44vh;
    height: 32vh;
    object-fit: cover;
}

.products h2
{
    font-size: 1.4em;
    margin-bottom: 2vh;
}

.products ul
{
    display: flex;
    gap: 1vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.products li
{
    font-size: 1.2em;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 4vh;
    margin-top: 6vh;
}

.description img
{
    width: 2.5em;
    border-radius: 1vh;
    background-color: #eee;
    padding: 0.4em;
}

.hint
{
    margin-top: 4vh;
}

.products-page
{
    margin-top: 6vh;
}

.products-page h1
{
    margin-bottom: 4vh;
}

.products-page .bg
{
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) -15%, #1C1C1E 100%), url(../images/bg.png);
    background-size: cover;
    width: 70%;
    height: 100%;
    transform: scale(-1, 1);
    background-position: bottom;
}

.partners
{
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 100%;
}

.partners img
{
    flex: 3;
}

.partners p
{
    line-height: 1.8em;
    flex: 4;
}

.partnership h2
{
    margin-bottom: 4vh;
}