{% extends 'layouts/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="contacts">
        <div class="container left-side">
            <h1>Контакты</h1>
            <p>
                ООО «777три семерки»<br>
                ОГРН 1226700013671, ИНН  6732232963, КПП 673201001<br>
                Телефон: +7 (900) 224-38-66<br>
                E-mail: 777threesevens@mail.ru<br>
                Российская Федерация, Смоленская обл, г.о. город Смоленск, ул. Ново-Киевская, д. 9, офис 2Р/2<br>
            </p>
        </div>
        <div class="bg"></div>
    </div>
{% endblock %}
