{% extends 'layouts/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="hero">
        <div class="container right-side">
            <h1>777<br>Три семерки</h1>
            <p>Оптовая торговля высококачественным пиломатериалом из хвойных пород</p>
            <a href="/contacts">Подробнее >>></a>
        </div>
    </div>

    <div class="partnership container">
        <h2>Партнерство</h2>
        <div class="text">
            Компания специализируется на закупке и поставках высококачественного пиломатериала из хвойных пород.<br>
            Мы заботимся о наших партнерах и прилагаем максимум усилий для своевременной доставки продукции. <br>
            Наши сотрудники тщательно контролируют каждый этап процесса, гарантируя высокое качество и
            сохранность материалов при транспортировке. 
        </div>
        <a href="/partners">Подробнее >>></a>
    </div>
{% endblock %}
