{% extends 'layouts/base.html' %}

{% block title %}Сотрудничество{% endblock %}

{% block content %}
    <div class="contacts">
        <div class="container left-side">
            <h1>Сотрудничество</h1>
            <div class="partners">
                <img src="/static/images/partners.png" />
                <p>
                    Наша компания является поставщиком высококачественного пиломатериала из хвойных пород на российском рынке. 
                    Мы работаем напрямую с производителями, что позволяет нам предлагать конкурентоспособные цены и оперативно 
                    выполнять заказы.
                    <br>Основываясь на многолетнем опыте работы в лесной отрасли, мы готовы предложить вам выгодные 
                    условия сотрудничества и индивидуальный подход к решению ваших бизнес-задач. 
                    Надеемся на плодотворное и взаимовыгодное партнерство.<br><br>
                    
                    С уважением,<br>
                    <b>Компания «777 три семерки».</b>
                </p>
            </div>
        </div>
        <div class="bg"></div>
    </div>
{% endblock %}
